<!DOCTYPE html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block content %} 
    <table class="table" border="1" class="table-bordered">
        
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>author</th>
                <th>publisher</th>
                <th>pages</th>
                <th>price</th>
                <th>view</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
        </thead>
        <tbody>
            {% for book in object_list %}
            <tr>
                <td class="lead">{{ book.name }}</td>
                <td class="lead">{{ book.author }}</td>
                <td class="lead">{{ book.publisher }}</td>
                <td class="lead">{{ book.pages }}</td>
                <td class="lead">{{ book.price }}</td>
                <td class="lead"><a href="{% url "bookview" book.id %}">View</a></td>
                <td class="lead"><a href="{% url "bookupdate" book.id %}">Edit</a></td>
                <td class="lead"><a href="{% url "bookdelete" book.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <center>
      <a  class="lead" class="btn btn-success" href="{% url "bookcreate" %}"><h3>Add new Item</h3></a>
    </center>
    {% endblock content %}
  </body>
</html>
